h1 
{
    text-align: center;
}
p.red {
    color: red;
}
p.blue {
    color: blue;
}
p.green {
    color:green;
}
p.big {
    font-size: large;
}
p.tiny {
    font-size: x-small;
}
p.center {
    text-align: center;
}
p.bold {
    font-weight: bold;
}
p.font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.orange {
    color: orange;
    font-weight: bold;
    font-size: large;
}
p.styledFont {
    color: green;
    font-size: medium;
}
img {
    border-width: 5px;
    border-style: solid;
    border-color: orange;
    background-color: blue;
}